%h1 Editing message

= render 'topics/breadcrumb', topic: @message.topic, buttons: false

= render 'form'

- if can?(:history, @message) && @message.versions.any?
  %hr
  %table.table.table-striped.messages
    - if @message.versions.count > 1
      - @message.versions.includes(:item).each do |v|
        = render 'show', message: v.reify if v.reify
    = render 'show', message: @message
