.thumbnails .caption {
  color: #888;
  text-align: center;
  margin-bottom: 20px;
}
.pretty {
  h3 { margin-top: 0px; }
  p {
    line-height: 2em;
  }
  li {
    margin-bottom: 10px;
    line-height: 2em;
  }
}
