.thumbnails .caption {
  color: #888;
  text-align: center;
  margin-bottom: 8px;
}
.pretty {
  h3 { margin-top: 0px; }
  p {
    text-align: justify;
    line-height: 2em;
  }
  li { margin-bottom: 10px; }
}
